{% extends "sensor/base.html" %}
{% block content %}
    {% for sens in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ sens.author }}</a>
            </div>
            <h2><a class="article-title" href="#">{{ sens.title }}</a></h2>
            <p class="article-content">{{ sens.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}